# ===========================
# .NET
# ===========================

# Build
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo

# Rider / ReSharper
_ReSharper*/
*.DotSettings.user

# ===========================
# Visual Studio / VS Code
# ===========================

.vs/
.vscode/

# ===========================
# macOS
# ===========================

.DS_Store

# ===========================
# Logs
# ===========================

*.log

# ===========================
# Temporary files
# ===========================

*.tmp
*.temp

# ===========================
# NuGet
# ===========================

*.nupkg

# ===========================
# Publish output
# ===========================

publish/